@tailwind base;
@tailwind components;
@tailwind utilities;

@layer apply {
  .horizontal-snap {
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    scroll-padding: 0 1rem;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .horizontal-snap::-webkit-scrollbar {
    display: none;
  }

  .horizontal-snap>* {
    scroll-snap-align: center;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  scroll-behavior: smooth;
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  scroll-behavior: smooth;
  @apply overflow-x-hidden
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .focus-amazon-hacking {
    @apply focus-visible:outline-none focus-visible:outline-1 focus-visible:outline-primary-100 focus-visible:outline-offset-4
  }

  .zenith-overlay-shadow {
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.2);
  }

  .winner-card-shadow {
    box-shadow: 0px 183px 51px 0px rgba(0, 0, 0, 0.00), 0px 117px 47px 0px rgba(0, 0, 0, 0.04), 0px 66px 39px 0px rgba(0, 0, 0, 0.13), 0px 29px 29px 0px rgba(0, 0, 0, 0.21), 0px 7px 16px 0px rgba(0, 0, 0, 0.25);
  }

  .projectOverlayShadow {
    box-shadow: 0px 183px 51px 0px rgba(0, 0, 0, 0.00), 0px 117px 47px 0px rgba(0, 0, 0, 0.04), 0px 66px 39px 0px rgba(0, 0, 0, 0.13), 0px 29px 29px 0px rgba(0, 0, 0, 0.21), 0px 7px 16px 0px rgba(0, 0, 0, 0.25);
  }
}

@layer apply {
  .bg-symbol {
    background-image: url('../../../public/images/Symbol.svg')
  }
}